/* CONTAINER AND BG */

section.login-container {
  overflow: hidden;
  position: absolute;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url("src/assets/img/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

div.visible-container {
  border: 1px solid var(--tender-bg-tr);
  border-radius: 0.25rem;
  width: 450px;
  max-height: 500px;
  background-color: var(--tender-bg-tr);
  color: var(--form-font);
}
div.visible-container > * {
  width: 100%;
}
.center {
  text-align: center;
}
.buttons-container{
 display: flex;
 display: flex;
 flex-direction: column;

}
.buttons-container button {
  margin-left: 5px;
}
button,
.pointer {
  cursor: pointer;
}


.visible-container .title i.bi.bi-puzzle {
  font-size: 3rem;
}

/* FORM AND CHILDS */
form i.bi {
  position: relative;
  left: 10px;
  top: 32px;
  color: var(--form-font);
}

form span.error {
  color: var(--tender-red);
  font-size: 0.8rem;
  font-weight: var(--bold);
}

form a#recoverPass {
  display: block;
  margin: 0 auto;
  position: relative;
  top: -10px;
  left: 70px;
}

form input#password {
  padding-left: 45px;
}

form hr {
  border-top: 1px solid var(--tender-black);
}

form a.nav-link {
  color: var(--tender-main);
  font-size: 0.9rem;
}

form a.nav-link:hover{
  font-weight: var(--bold);
}

form button.btn.btn-primary {
  background-color: var(--tender-main);
  border-color: var(--tender-main);
  font-weight: bold;
}